*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  overflow:hidden;
  width:100%;
  height:100dvh;
}

.three-canvas{
  width: 100%;
  height: 100dvh;
}

.project-description{
  position: absolute;
  top: 0;
  left: 0;

  max-width: 440px;
  padding: 1em;
}